.container-pokemon {
    display: block;
    margin: 0 auto;
}

.container {
    display: block;
    margin: 50px auto 0;
    width: 800px;
    height: 500px;
}

.container-comparador {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}